body{
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
}
.container{
    width: 960px;
}
.main-part{
    width: 640px;
    float: left;
}
.side-part{
    width: 278px;
    float: right
}