body{
    font-family: 'Microsoft YaHei','SimSun';
    font-size: 13px;
    color: #444;
    background: #fafafa;
}
a{
    color: #337ab7
}

.navbar-brand{
    padding-top: 0;
    padding-bottom: 0
}
.navbar-primary{
    border-bottom: 2px solid #FD3400;
}
.panel{
    border-radius: 0
}
.panel-default>.panel-heading {
    color: #3299FE;
    background-color: #DBDFEA;
    border-radius: 0;
}
.panel-title{
    font-weight: 700
}
.panel-default thead{
    background-color: #F2F3F8;
    color: #9AA6C5
}
.module{
    background: #fff;
    padding: 16px 20px;
    box-shadow: 0 1px 3px rgba(34,25,25,.4);
    margin-bottom: 16px;
    position: relative;
    word-break: break-all;
    border: 1px solid #f2f2f2
}
.conditions {
    background: #ECEEF4;
    padding: 0 15px;
    border-bottom: 1px solid #DBDFEA;
    line-height: 24px;
    font-size: 12px;
    color: #666;
}
.con-type-item{
    margin-top: 0
}
.con-type-title{
    padding: 4px;
    float: left;
    font-weight: 700
}
.con-type-box{
    border-bottom: 1px dashed #f2f2f2;
    padding-left: 50px;
    margin-bottom: 0
}
.con-type-box li{
    display: inline-block;
    padding: 4px;
    list-style-type: none;
    margin-bottom: 0
}
.con-type-box li a {
    color: #3299FE;
}
.con-type-box .active a {
    color: #FF3201;
}
.content .table{
    border-bottom: 1px solid #f2f2f2
}
.content-pager{
    padding: 0 15px 15px;
}
.fixedContacter{
    position: fixed;
    right: 0;
    top: 30%;
    width: 250px;
    height: 132px;     
}    
.fixedContacter .fa{
    color: #5D7181
}
.contact-items{
    font-size: 14px;
    padding: 5px 0 5px 10px;
}
.fixedContacter .col-xs-8{
    border-left:1px solid  #3299FE;
    border-top:1px solid  #3299FE;
    border-bottom:1px solid  #3299FE;
    display: none
}
.fixedContacter .col-xs-4{
    border:1px solid  #3299FE;
}
.fixedContacter:hover>.row .col-xs-8{
    display: block
}
.contact-tips{
    padding: 15px 0 0;
    height: 130px;   
}
.contact-tips .fa{
    font-size: 72px
}
.footer{
    padding-top: 8px;
    border-top: 1px solid #ccc;
    color: #ccc
}
.footer a{
    color: #ccc
}
/*登录页面------*/
.login-form{
    width: 378px;
    margin: 200px auto 0;
}
/*登录页面------*/
/*返回顶部*/
.side-fixed{
    position: fixed;
    _position:absolute;
    bottom:100px;
    left:50%;
    margin-left:330px;
    background: #efefef;
    width:50px;height:50px;
    display: none
}
.side-fixed:hover{background: #337ab7}
.side-fixed a{
    color:#A9A9A9;
    display: block;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}
.side-fixed a:hover{
    text-decoration: none;
    color:#fff
}
.feedback{bottom:10px;}
.feedback a{font-size: 24px;}
.feedback .fa{margin-top: 10px;}
.back-to-top{bottom:70px;display: none}
/*意见反馈和返回顶部-------*/
ul.yiiPager{height:26px;margin:0;padding:0}ul.yiiPager li{display:inline;margin-right: 5px;}ul.yiiPager a:link,ul.yiiPager a:visited{padding:5px 9px;border:1px solid #ccc;border-radius:3px;background:#fff;color:#777;font-weight:normal}ul.yiiPager a:hover{border-color:#449d44;box-shadow:1px 1px 1px #333;color:#035d67;text-decoration:none}ul.yiiPager .selected a{padding:6px 10px;border:0;border-radius:3px;background:#449d44;color:#fff}ul.yiiPager .hidden,ul.yiiPager .last,ul.yiiPager .first{display:none}ul.yiiPager .previous{float: left}ul.yiiPager .next{margin-right: 0}ul.yiiPager .page{float:left}
